@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}

body 
{
  min-height: 100vh;
  background: #dee1e2;
  overflow: hidden;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);  
}

.logo
{
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.group
{
  display: flex;
  align-items: center;
}

header ul
{
  position: relative;
  display: flex;
  gap: 30px;
}

header ul li
{
  list-style: none;
}

header ul li a
{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header ul li a::before
{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

header ul li a::after
{
  transform: scaleX(1);
  transform-origin: left;
}

















































