* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  overflow-x: hidden;
  cursor: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

ul li {
  list-style: none;
  position: relative;
  width: 100px;
  height: 100px;
  /* background: #f00; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  font-size: 2em;
  text-decoration: none;
}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
}

ul li i {
  position: absolute;
  pointer-events: none;
  color: #fff;
}

#cursor {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s, left 0s, top 0s;
}

ul li:hover~#cursor {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
}

body:hover #cursor {
  opacity: 1;
}