* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #111;
  overflow: hidden;
}

span {
  position: absolute;
  pointer-events: none;
  width: 20px;
  height: 20px;
  /* background: #1ceb6b; */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

span::before {
  content: '\f005';
  position: absolute;
  font-family: fontAwesome;
  color: #1ceb6b;
  animation: moveShape 1s linear infinite;
}

@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    transform: translate(300px) rotate(360deg);
    opacity: 0;
  }
}