*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.navigation
{
  position: relative;
  width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul
{
  display: flex;
  width: 350px;
}
.navigation ul li
{
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
}
.navigation ul li a
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon
{
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.4em;
  transition: 0.5s;
  color: #222327;
}
.navigation ul li.active a .icon
{
  transform: translateY(-32px);
  color: #2196f3;
}
.navigation ul li a .text
{
  position: absolute;
  background: #2196f3;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}
.navigation ul li.active a .text
{
  transform: translateY(-4px);
  opacity: 1;
}
.indicator
{
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
}
.indicator::before
{
  content: '';
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}
.indicator::after
{
  content: '';
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
}
.navigation ul li:nth-child(1).active ~ .indicator
{
  left: 25px;
}
.navigation ul li:nth-child(2).active ~ .indicator
{
  left: 95px;
}
.navigation ul li:nth-child(3).active ~ .indicator
{
  left: 165px;
}
.navigation ul li:nth-child(4).active ~ .indicator
{
  left: 235px;
}
.navigation ul li:nth-child(5).active ~ .indicator
{
  left: 305px;
}