*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
}
.navigation
{
  width: 80px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active
{
  width: 400px;
}
.navigation .toggleMenu
{
  position: relative;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  /* background: #f00; */
}
.navigation .toggleMenu::before
{
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background: #333;
  transform: translateY(-10px);
  transition: 0.5s;
}
.navigation .toggleMenu::after
{
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background: #333;
  transform: translateY(10px);
  transition: 0.5s;
  box-shadow: 0 -10px #333;
}
.navigation.active .toggleMenu::before
{
  transform: translateY(0px) rotate(45deg);
}
.navigation.active .toggleMenu::after
{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0px #333;
}
.navigation .profile
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}
.navigation .profile .imgBx
{
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 50%;
}
.navigation.active .profile .imgBx
{
  width: 180px;
  height: 180px;
}
.navigation .profile .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation .menu
{
  position: relative;
  width: 100%;
  padding: 10px;
  transition: 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation.active .menu
{
  padding: 10px 20px;
}
.navigation .menu li
{
  list-style: none;
}
.navigation .menu li a
{
  position: relative;
  display: flex;
  text-decoration: none;
  color: #111;
  border-radius: 10px;
}
.navigation .menu li a:hover
{
  background: #0084ff;
  color: #fff;
}
.navigation .menu li a .icon
{
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.navigation .menu li a .text
{
  position: relative;
  height: 60px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
