@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #fff;
}

ul
{
  position: relative;
}

ul li
{
  list-style: none;
  text-align: center;
}

ul li a
{
  color: #333;
  text-decoration: none;
  font-size: 2em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

ul li:hover a
{
  background: #fff;
  color: var(--clr);
  transition: 0.5s;
}

ul:hover > li:not(:hover)
{
  opacity: 0;
}

ul li a::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  opacity: 0;
  color: #222;
  z-index: -1;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s;
  font-family: 'Sacramento', cursive;
}

ul li a:hover::before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  background: var(--clr);
  width: 250vh;
  height: 250vh;
  letter-spacing: 0;
}

















