*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  min-height: 100vh;
  background: #20921f;
  overflow: hidden;
}

span
{
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 10px;
  /* background: #f00; */
  animation: animate 1s linear infinite;
}

@keyframes animate 
{
  0%
  {
    translate: 0 0;
    opacity: 0;
  }
  10%
  {
    opacity: 1;
  }
  30%
  {
    translate: 0 100px;
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    translate: 0 80px;
    opacity: 0;
  }
}



























