*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0c192c;
}

ul
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul li
{
  list-style: none;
}

ul li a
{
  position: relative;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}

#marker
{
  position: absolute;
  top: 0;
  margin-top: 4px;
  /* width: 100px; */
  height: 50px;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#marker::before
{
  content: '';
  /* position: absolute; */
  width: 15px;
  height: 15px;
  border-top: 4px solid #30a3ff;
  border-right: 4px solid #30a3ff;
  transform: rotate(45deg) translate(-20px, 20px);
}

#marker::after
{
  content: '';
  /* position: absolute; */
  width: 15px;
  height: 15px;
  border-top: 4px solid #30a3ff;
  border-right: 4px solid #30a3ff;
  transform: rotate(225deg) translate(-23px, 17px);
}








