*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}
.box
{
  position: relative;
  width: 340px;
  height: 200px;
  /* background: rgba(255, 255, 255, 0.1); */
  display: flex;
}
.box .circle
{
  position: relative;
  min-width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 25px solid #fff;
}
.box .circle:nth-child(2)
{
  left: -60px;
  border: 25px solid #f00;
}
.box .circle:nth-child(1)::before
{
  content: '';
  position: absolute;
  inset: -25px;
  border: 25px solid transparent;
  border-top: 25px solid #fff;
  border-right: 25px solid #fff;
  border-radius: 50%;
  z-index: 100;
  transform: rotate(-45deg);
}
.box .circle:nth-child(1)::after
{
  content: '';
  position: absolute;
  inset: -25px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-right: 25px solid #000;
  z-index: 1;
  transform: rotate(-65deg);
  filter: blur(15px);
}
.box .circle:nth-child(2)::before
{
  content: '';
  position: absolute;
  inset: -25px;
  border: 25px solid transparent;
  border-bottom: 25px solid #f00;
  border-left: 25px solid #f00;
  border-radius: 50%;
  z-index: 100;
  transform: rotate(-45deg);
}
.box .circle:nth-child(2)::after
{
  content: '';
  position: absolute;
  inset: -25px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-left: 25px solid #000;
  z-index: 1;
  transform: rotate(-65deg);
  filter: blur(15px);
}