.wrap
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.week
{
  display: flex;
  gap: 5px;
  height: 120px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}
.week li
{
  list-style: none;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  border-radius: 20px;
  font-size: 1.2em;
}
.week li.current
{
  position: relative;
  background: #29fd53;
  height: 100px;
  width: 100px;
  font-size: 1.64em;
  color: #222327;
  border: 6px solid #222327;
  transform: translateY(-70px);
  font-weight: 500;
  cursor: pointer;
}
.week li.current::before
{
  content: '';
  position: absolute;
  top: 44px;
  left: -36px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-top-right-radius: 10px;
  box-shadow: 6px -6px #222327;
}
.week li.current::after
{
  content: '';
  position: absolute;
  top: 44px;
  right: -35px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-top-left-radius: 10px;
  box-shadow: -6px -6px #222327;
}
.week li.current h1
{
  position: absolute;
  transform: translateY(76px);
  font-size: 1.5em;
  color: #222327;
}
.week li.current h3
{
  position: absolute;
  transform: translateY(-60px);
  font-size: 0.5em;
  color: #fff;
  font-weight: 500;
}
.week li.current h5
{
  position: absolute;
  transform: translateY(102px);
  font-size: 0.5em;
  color: #222327;
  font-weight: 500;
}