@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(/img/2023-10/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 350px;
  height: 340px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.5s;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 10%, transparent 10%, transparent 80%, #45f3ff 100%);
  border-radius: 20px;
  animation: animate 2.5s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg
  }

  100% {
    --a: 360deg
  }
}

.container span {
  position: absolute;
  inset: 5px;
  overflow: hidden;
  border-radius: 15px;
}

.container span::before {
  content: '';
  position: absolute;
  inset: 5px;
  background: url(/img/2023-10/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.container span::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: url(/img/2023-10/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
}